name: Auto approve
on:
  pull_request_target:
    types:
      - opened
      - reopened
    branches:
      - main

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v4
  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
        - uses: alexwilson/enable-github-automerge-action@main
          with:
                github-token: "${{ secrets.GITHUB_TOKEN }}"
